<body>

<div id="navBar">
    <div id="name">
        <p>Martín Rodriguez</p>
    </div>
    <div id="navBarLinks">
        <a class="links" href="#aboutSection">About Me</a>
        <a class="links" href="#interestSection">Skills</a>
        <a class="links" href="#contactSection">Contact</a>
        <a class="links" href="lab2.html">News</a>
    </div>  
</div>

<div id="hero" data-controller="portfolio">
    <div id="imagen">
        <%= image_tag "163907287.jpeg", alt: "Imagen de perfil" %>
    </div>

    <h1 id="mainName">Martín Rodríguez</h1>
    <h2 id="mainDes">Software Developer</h2>
</div>

<div id="aboutSection">
    <div id="aboutDom">
        <div>
            <h2 id="aboutTitle">About Me</h2>
            <p class="aboutText">I am a software developer with experience in front-end technologies and currently learning back-end development. 
                My specialty is building web and mobile applications tailored to the client’s needs.</p>
            <p class="aboutText">My approach focuses on maintaining clean and scalable code, following industry best practices.</p>
        </div>
        <div id="aboutImage">
            <%= image_tag "james-harrison-vpOeXr5wmR4-unsplash.jpg", alt: "Representative image" %>
        </div>
    </div>
</div>

<section id="interestSection">
    <h1 id="interestTitle">Skills</h1>
    <div id="interesContainer"></div>
</section>

<script src="scripts.js"></script>

<section id="contactSection">
    <h1 id="contact">Contact</h1>
    <p id="textContact">Interested in working together? You can reach out to me through the following platforms.</p>
    <div class="icon-container">
        <a href="https://www.linkedin.com/in/martin-rodriguez-riquelme-231189204/" class="icon-circle">
            <%= image_tag "linkedin-brands.svg", width: 50, height: 50, alt: "LinkedIn" %>
        </a>
        <a href="https://github.com/MartinRodriguez2001" class="icon-circle">
            <%= image_tag "github-brands.svg", width: 50, height: 50, alt: "GitHub" %>
        </a>
        <a href="mailto:marodriguez8@miuandes.cl" class="icon-circle">
            <%= image_tag "envelope-solid.svg", width: 50, height: 50, alt: "Email" %>
        </a>
    </div>
</section>


</body>